@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

@import "variables";

@import "components/navigation-bar";
@import "components/scroll-page";

@import "cluedo";
@import "bingo";
@import "outlaws";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  overflow-y: hidden;
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80%;
  width: 80%;

  padding: 0 5em;

  background-color: rgba(0, 0, 0, .4);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  hr {
    width: 100%;
    border-top: solid 1px white;
  }
}
