nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: var(--navigation-bar-height);

  background-color: rgba(0, 0, 0, 0.5);

  a {
    &.active, &:hover {
      background-color: rgba(33, 33, 33, 0.5);
    }
    padding: 0 1em 0 1em;
    color: white;
    text-decoration: none;
    font-size: 2em;
  }
}
