header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(/assets/cluedo/cluedo.png);
  background-size: cover;
  background-position: center;

  .splash-content {
    img {
      margin-left: auto;
      margin-right: auto;
      flex: 0;
    }

    #ip-display {
      position: relative;
      cursor: pointer;
      em {
        color: #FFAA00;
      }

      &.clicked::before {
        position: absolute;
        opacity: 0;
        content: "Copied server IP to clipboard";
        color: red;
        font-size: 16px;
        animation-name: copy-popup;
        animation-timing-function: linear;
        animation-duration: 1.5s;
      }

      @keyframes copy-popup {
        from {
          top: 0;
          opacity: 100;
        }
        to {
          top: -100px;
          opacity: 0;
        }
      }
    }
  }
}


