#trailer {
  background-image: url(/assets/cluedo/cluedo_video_background.png);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: var(--navigation-bar-height);

  iframe {
    width: 40%;
    aspect-ratio: 16/9;
    box-shadow: 1em 1em 1em black;
  }
}
