<section id="roles">
  <div id="detective" class="role-description">
    <h4>Detective</h4>
    <p>As a detective, your role is to unmask the murderer in your midst. With a single powerful shot of your bow you can take out anything you can hit, but be careful, killing an innocent will make you drop your weapon out of guilt. Do your best and be vigilant!</p>
  </div>
  <div id="murderer" class="role-description">
    <h4>Murderer</h4>
    <p>You are out for blood and you came prepared. With your sword and potions you should be able to make easy pickings from your victims. Gain the trust of your fellow players or follow the footsteps of fleeing cowards, anything goes, as long as they all die.</p>
  </div>
</section>