<header>
  <section id="splash-content">
    <div>
      <h1>Help us solve the murder mystery!</h1>
      <p>
        There have been multiple reports of people disappearing around the mansion.
        You have been invited by the landlord to investigate and help solve the mystery.
      </p>
      <p>We hope to see you soon, alive and well...</p>
      <hr/>
      <h1 id="ip-display"
          role="button"
        {{on "click" this.copyIpToClipboard}}>Join us at <em>cluedo.imine.nl</em></h1>
    </div>
    <img id="butler-image" alt="" role="presentation" src="/assets/cluedo/butler.png">
  </section>
</header>
