<header>
  <section class="splash-content">
    <div>
      <h1>Help us solve the murder mystery!</h1>
      <p>
        There have been multiple reports of people disappearing around the mansion.
        You have been invited by the landlord to investigate and help solve the mystery.
      </p>
      <p>We hope to see you soon, alive and well...</p>
      <hr/>
      <h1>About the game</h1>
      <p>
        Based on the Garry's Mod's Murderer gamemode, Cluedo is a game of tactic and deceit.
        Hide or run around the countless secret passages of the mansion. Do tasks to gain the upper hand, but be careful, anyone could be out to get you.
        A single strong hit will kill you and the mansion is rigged with traps. Can you survive the bloodbath? Or will you be the one going on a rampage?
      </p>
      <hr/>
      <h1 id="ip-display"
          role="button"
        {{on "click" this.copyIpToClipboard}}>Join us at <em>cluedo.imine.nl</em></h1>
    </div>
    <img id="butler-image" alt="" role="presentation" src="/assets/cluedo/butler.png">
  </section>
</header>
